body {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin: 0;
    height: 100%;
    overflow: hidden;
}
.avatar {
    width: 200px;
    height: 200px;
}

h5 {
    color: #0062cc;
}

.emp-profile {
    width: 500%;
    height: 100%;
    padding: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 0.5rem;
    background: #fff;
}
