body {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin: 0;
    height: 100%;
    overflow: scroll;
}
.avatar {
    width: 200px;
    height: 200px;
}

h5 {
    color: red;
}

.emp-profile {
    width: 500%;
    height: 100%;
    padding: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 0.5rem;
    background: #fff;
}

.profile-img {
    text-align: center;
}

.profile-img img {
    width: 50%;
    height: 80%;
}

.profile-edit-btn {
    border: 3px solid #00c6ff;
    border-radius: 10px;
    width: 50%;
    padding: 2%;
    font-weight: 600;
    color: white;
    background-color: #00c6ff;
    cursor: pointer;
}

label {
    font-weight: 600;
    font-size: 15px;
}

input[value] {
    color: grey;
}

input:focus {
    border: 3px solid #555;
}

button:hover{
    color: #096bd5;
}